{% for intf in data_interfaces %}
interface ethernet {{ intf.ifnum }}
{% if intf.name is defined %}
name {{ intf.name }}
{% endif %}
enable
ip address {{ intf.ipv4_address }} {{ intf.ipv4_netmask }}
exit
{% endfor %}
